<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #454040;
        }


        ul.navbar li {
            float: right;
            padding: 0 76px;
        }

        ul.navbar li a {
            display: block;
            color: rgb(245, 238, 238);
            text-align: center;
            padding: 14px 40px;
            text-decoration: bold;
        }


        ul.navbar li a:hover {
            background-color: #555;
            
        }
    </style>
</head>
<body>
    <ul class="navbar">
        <li><a href="/contact">Contact Data</a></li>
        <li><a href="/data">Donate Data</a></li>
    <li> <a href="/cards">Card Data</a> </li>

    </ul>
    <h1>User List:</h1>
    <table border="2" width="100%">

        <tr>
            <th>S.No:</th>
            <th>Name:</th>
            <th>Email:</th>
            <th>Message:</th>
            <th>Action:</th>
        </tr>
        <% if(data.length >0){ %>

            <% for(var i=0;i<data.length;i++){ %>

                <tr>
                    <td> <%-data[i]['id'] %> </td>
                    <td> <%-data[i]['name'] %> </td>
                    <td> <%-data[i]['role'] %> </td>
                    <td> <%-data[i]['message'] %> </td>
                   
                    
                    <td> 
                        <a href="/delete-cards?id= <%-data[i]['id'] %> "> Delete</a> 
                        <a href="/update-cards?id= <%-data[i]['id'] %> "> Update</a> 
                        
                    </td>
                </tr>

            <% } %>

        
        <% }else{ %>
            <td><h1>Data Not Found</h1></td>
            
        <% } %>

    </table>
</body>
</html>